@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
$container-width: 1200px;
//hero
.hero {
    background: linear-gradient(to bottom right, #ffffff, #d4e7fe);
    header {
        padding: 30px 0 26px;
        .container {
            max-width: $container-width;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                display: flex;
                align-items: center;
                gap: 72px;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    list-style: none;
                    color: #656464;
                    li {
                        transition: all 300ms ease;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1%;
                        &:hover {
                            color: #000;
                            cursor: pointer;
                            font-weight: 600;
                        }
                    }
                }
            }
            .right {
                input {
                    padding: 4px 1px 18px 1px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid#E5E5E5;
                    outline: none;
                    font-size: 12px;
                    font-weight: 400;
                    background: none;
                    &::placeholder {
                        color: #656464;
                    }
                }
            }
        }
    }
    .main {
        padding: 72px 82px;
        .container {
            max-width: $container-width;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                max-width: 515px;
                .badge {
                    width: 177px;
                    height: 36px;
                    background: #217cf42e;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1%;
                    color: #217bf4;
                }
                h1 {
                    font-size: 56px;
                    font-weight: 700;
                    color: #0a093d;
                    margin-top: 16px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1%;
                    color: #656464;
                    margin-top: 16px;
                }
                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    margin-top: 42px;

                    button {
                        width: 162px;
                        height: 62px;
                        padding: 12px 24px;
                        border-radius: 14px;
                        border: none;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 1%;
                        cursor: pointer;
                        transition: all 300ms ease;
                        &:active {
                            scale: 1.1;
                        }
                        &:first-child {
                            background: #217bf4;
                            color: #fff;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                        &:last-child {
                            background: none;
                            color: #217bf4;
                            border: 1px solid #217bf4;
                            &:hover {
                                background: #217cf43b;
                            }
                        }
                    }
                }
            }
            // .right {
            // }
        }
    }
}

// SOCIAL SECTION
.social {
    padding: 96px 0 21px;

    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .left {
            max-width: 406px;

            h3 {
                font-size: 18px;
                font-weight: 500;
                color: #217bf4;
            }
            h1 {
                font-size: 36px;
                font-weight: 700;
                line-height: 48px;
                color: #0a093d;
                margin-top: 17px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                color: #656464;
                margin-top: 30px;
            }
            .bottom {
                margin-top: 36px;
                .wrapper {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .round-out {
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background: #217cf41f;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .round-in {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #217bf4;
                        }
                    }
                    p {
                        font-size: 18px;
                        font-weight: 500;
                        color: #171648;
                        margin-top: 0;
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            .images {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        }
    }
}
//LIST SECTION
.life {
    padding: 75px 0 75px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-top: 20px;

            .card {
                width: 336px;
                height: 340px;

                background: #fff;
                padding: 30px;
                border-radius: 14px;
                border: 1px solid linear-gradient(#b9b9b921 #5e5e5e5e);
                box-shadow: 0px 26px 49px 0px #92a5b824;

                .top {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 10px;
                    h2 {
                        font-size: 20px;
                        font-weight: 500;
                        color: #0a093d;
                        line-height: 20px;
                    }
                }
                .img {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    h4 {
                        font-size: 16px;
                        font-weight: 400;
                        color: #5d5b70;
                        line-height: 18px;
                    }
                }
                .text {
                    margin: 20px;
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        color: #8c8c8c;
                        line-height: 26px;
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #217bf4;
                        line-height: 16px;
                        margin-top: 20px;
                    }
                    .nth-child-3 {
                        color: #4a4a56;
                    }
                }
            }
        }
        .right {
            width: 381px;
            height: 322px;
            background: #fff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 12px;

            .right-footer {
                h5 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #217bf4;
                    line-height: 20px;
                }
                h1 {
                    font-size: 36px;
                    font-weight: 700;
                    color: #0a093d;
                    line-height: 48px;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #656464;
                    line-height: 28px;
                }
            }
            .buttons {
                margin-top: 38px;

                button {
                    width: 192px;
                    height: 58px;
                    box-shadow: 0 10px 22px -6px #217bf4;
                    background: #217bf4;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 14px;
                    border: none;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}
//OUR community
.community {
    padding: 55px 0 175px;
    background: linear-gradient(#f1f6fd00, #f1f6fd 50%, #f1f6fd, #ffffff);
    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;

        .left {
            text-align: center;

            h5 {
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #217bf4;
                margin: 8px 0;
            }
            h1 {
                font-weight: 700;
                font-size: 36px;
                line-height: 36px;
                color: #0a093d;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: #656464;
                line-height: 28px;
                margin: 19px;
            }
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 44px;
            margin-top: 60px;
            h2 {
                font-size: 24px;
                font-weight: 600;
                color: #2f2c4a;
                line-height: 26px;
            }
            .card {
                width: 522px;
                height: 182px;
                display: flex;
                background: #fff;
                box-shadow: 0px -12px 52px 0px #7f7f7f21;
                border-radius: 12px;
                padding: 20px;
            }

            .text {
                display: flex;
                flex-direction: column;
                margin: 25px;
                gap: 14px;
                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #2f2c4a;
                    line-height: 26px;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #656464;
                    line-height: 26px;
                }
            }
        }
    }
}
//OUR ACTIVE MEMBERS
.active {
    padding: 84px 0 84px;

    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        .left {
            text-align: center;

            h5 {
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #217bf4;
                margin: 8px 0;
            }
            h1 {
                font-weight: 700;
                font-size: 36px;
                line-height: 36px;
                color: #0a093d;
                margin: 18px 0;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: #656464;
                line-height: 28px;
                margin: 19px;
            }
        }
        .badge {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 38px 0;

            .wrapper {
                width: 474px;
                height: 72px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 90px;
                border: none;
                border-radius: 14px;
                background-color: #217cf416;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #2f2c4a;
                    cursor: pointer;
                }
                .active1 {
                    width: 154px;
                    height: 56px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 10px 22px -6px #217bf4;
                    background-color: #217cf4;
                    border-radius: 14px;
                    transition: all 0.3s ease;
                    &:active {
                        scale: 1.1;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                    .button {
                        color: white;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 30px;

            .card {
                width: 270px;
                height: 316px;
                background: #fff;
                border-radius: 16px;
                text-align: center;
                padding: 30px 20px;
                box-shadow: 0 26px 49px rgba(0, 0, 0, 0.05);

                .avatar-wrapper {
                    position: relative;
                    width: 120px;
                    height: 120px;
                    margin: 0 auto 20px;

                    .circle {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 150px;
                        height: 150px;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        border: 4px dashed orange;
                    }

                    .avatar {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                        position: relative;
                        z-index: 2;
                    }

                    .check {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        top: 100%;
                        left: 55%;
                        transform: translate(-50%, -50%);
                        background: #2979ff;
                        color: white;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        z-index: 3;
                    }
                }
            }
            h1 {
                font-size: 24px;
                font-weight: 600;
                color: #2f2c4a;
                line-height: 26px;
                margin-top: 56px;
                margin-bottom: 5px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #656464;
                line-height: 26px;
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }
}
//OUR APLICATIO
.aplication {
    padding: 122px 0 84px;
    background: #e5f0fd;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;

        .left {
            width: 351px;
            h5 {
                font-size: 18px;
                font-weight: 500;
                color: #217bf4;
                line-height: 18px;
            }
            h1 {
                font-size: 36px;
                font-weight: 700;
                color: #0a093d;
                line-height: 52px;
                margin: 20px 0;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: #656464;
                line-height: 26px;
                margin: 10px 0;
            }
            .imges {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0 auto;
            }
        }
        .right {
            position: relative;
            .vector {
                position: absolute;
                top: 40px;
                right: 170px;
            }
            .color {
                position: absolute;
                bottom: 6px;
                left: 177px;
            }
        }
    }
}
//OUR NEWS
.news {
    padding: 170px 0 34px;
    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;
    }
    .left {
        text-align: center;
        margin-bottom: 50px;
        h5 {
            font-size: 18px;
            font-weight: 400;
            color: #217bf4;
            line-height: 18px;
            margin: 8px 0;
        }
        h1 {
            font-size: 36px;
            font-weight: 700;
            color: #0a093d;
            line-height: 36px;
            margin: 10px 0;
        }
    }
    .right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        .cards {
            width: 340px;
            height: 459px;
            position: relative;
            .union {
                position: absolute;
                top: 100px;
                left: 280px;
                z-index: -1;
            }
            .union1 {
                position: absolute;
                top: -23px;
                right: 250px;
                z-index: -1;
            }
        }
        .card {
            h2 {
                font-size: 20px;
                font-weight: 600;
                color: #2f2c4a;
                line-height: 32px;
                margin: 20px 0;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                margin: 10px 0;
                color: #656464;
            }
        }
    }
}
//OUR FOOTER1
.footer {
    padding: 78px 0 85px;
    background: #2b2b39;
    color: #fff;
    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;

        .left {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 106px;

            .list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                list-style: none;
                h2 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    line-height: 20px;
                    // margin: 20px 0;
                }
                li {
                    font-size: 16px;
                    font-weight: 400;
                    color: #e7e7e7;
                    line-height: 46px;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 20px;
                font-weight: 500;
                color: #fff;
                line-height: 32px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: #e7e7e7;
                line-height: 28px;
            }
            .btn {
                gap: 10px;

                input {
                    position: relative;
                    width: 349px;
                    height: 48px;
                    background: none;
                    border-radius: 12px;
                    border: 1px solid #fff;
                    padding: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    line-height: 12px;
                    letter-spacing: 1.25%;
                    outline: none;
                }

                button {
                    position: absolute;
                    // top: 0;
                    right: 135px;
                    width: 126px;
                    border: none;
                    height: 48px;
                    background: #d6dbe2;
                    border-radius: 12px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #2b2b39;
                    line-height: 16px;
                    transition: all 0.3s;
                    &:active {
                        cursor: pointer;
                        scale: 1.1;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 60%;
                    }
                }
            }
        }
    }
}
//OUR FOOTER-MAIN
.footer-main {
    padding: 31px 0 31px;
    background: #20202d;
    color: #fff;
    .container {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;
        .left-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            h4 {
                font-size: 14px;
                font-weight: 400;
                color: #f6f6f6;
                line-height: 14px;
            }
        }
    }
}
