@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #f8f9fa;
}
/* Header */
.heder {
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-container {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right {
    display: flex;
    gap: 27px;
    align-items: center;
}
.header-menu {
    display: flex;
    list-style: none;
    gap: 49px;
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 27px;
}
.header-button {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #2d74ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

/* hero*/

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* width: 1000px;
    height: 750px;
    margin: 0 auto; */
    padding: 120px;
    gap: 5rem;
}
.hero-content {
    width: 500px;
    height: 275px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-button {
    width: 166px;
    height: 57px;
    border-radius: 5px;
    background-color: #2d74ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}
.hero-buttons {
    display: flex;
    gap: 49px;
}
/* Hero Image */
.hr1 {
    margin-top: 7.1rem;
    border: 1px solid rgba(239, 235, 235, 0.982);
    width: 1090px;
    height: 1px;
}

.hero-img {
    width: 760px;
}

.hero-logo {
    width: 155px;
    height: 55px;
}
.hero-h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 6%;
    color: #2d74ff;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero-text h1 {
    font-family: 'Gelasio', serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #000000;
    width: 519px;
    height: 136px;
    padding-bottom: 150px;
}

.main-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 166px;
    left: 760px;
}
.main-img1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1150px;
    top: 270px;
}
.hero-img2 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 710px;
    top: 494px;
}

/* services */

.services-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    padding: 110px;
    background: #f8f9fa;
    gap: 7rem;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.services-content {
    width: 423px;
    height: 335px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.services-content h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 6%;
    color: #2d74ff;
}
.services-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.services-text h1 {
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 292px;
    height: 90px;
}
.services-text p {
    width: 423px;
    height: 81px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.services-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2d74ff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 171px;
    height: 57px;
}
.services-video {
    position: relative;
}
.services-video img {
    width: 555px;
    height: 336px;
    border-radius: 10px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff45;
    color: #ffffff;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-img {
    width: 244px;
    height: 244px;
}
/*  WORK */
.work-section {
    height: 70vh;
    margin: 0 auto;
    padding: 80px;
}

.work-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.work-content h1 {
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #171832;
    width: 204px;
    height: 45px;
    padding-bottom: 150px;
}
.work-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.work-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    width: 360px;
    height: 297px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.work-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(logo/Ellipse\ 3.png);
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
}
.work-card img {
    width: 40px;
    height: 39.87px;
}
.work-card h3 {
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #171832;
}
.work-card p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #171832;
}
/* TESTIMONIALS */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    flex-direction: column;
    gap: 5rem;
}

.testimonials-h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1007px;
    height: 72px;
    margin-right: 10rem;
}
.testimonials-title {
    font-size: 32px;
    color: #222;
    font-family: 'Gelasio', serif;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    width: 490px;
    height: 45px;
    margin-right: 13rem;
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 0;
    border: 2px solid #2d74ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-container {
    display: flex;

    gap: 30px;
    justify-content: center;
    background-color: #f8f9fa;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 555px;
    height: 349px;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.testimonials-buttons {
    display: flex;
    gap: 3rem;
}
.testimonials-button {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
}
.testimonials-button1 {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.quote {
    font-size: 18px;
    line-height: 150%;
    color: #171832;
    width: 391px;
    height: px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.author img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #007bff;
    margin-right: 10px;
}

.info h3 {
    width: 121px;
    height: 73px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 150%;
    color: #222;
    margin: 0;
    font-family: 'Gelasio', serif;
}

.info p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #777;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Newsletter */

.newsletter-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0 auto;
    background-color: #f8f9fa;
}

.newsletter-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-box {
    width: 1140px;
    height: 324px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newsletter-box h2 {
    font-family: 'Gelasio', serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 10px;
    color: #171832;
    text-align: center;
}

.newsletter-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #000000;

    width: 626px;
    height: 54px;
    text-align: center;
}

.input-group {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 528px;
    height: 54px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: none;
    /* outline: none; */
    font-size: 16px;
}

.input-group button {
    background: #2563eb;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.input-group button:hover {
    background: #1e4bd6;
}

/* Footer */

footer {
    background: white;
    padding: 80px;
    width: 100%;
    height: 47vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 375px;
}

.logo-icon {
    width: 151px;
}

.footer-logo p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 150%;
    width: 366px;
    height: 81px;
    color: #666;
}

.footer-links {
    display: flex;
    gap: 7rem;
    width: 60%;
}

.column h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    color: #171832;
    margin-bottom: 10px;
}

.column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.column ul li {
    margin-bottom: 6px;
}

.column ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #171832;
    transition: 0.3s;
    width: 101px;
    height: 112px;
}

.column ul li a:hover {
    color: #2563eb;
}

.column p {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 6%;
    width: 208px;
    height: 26px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 18px;
    color: #666;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #2563eb;
}
