* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 500px;
    height: 500px;
    border: 3px solid #b17373;
    border: 3px solid #b17373;
    position: relative;
}
.box {
    width: 80px;
    height: 80px;
    text-align: center;
    color: white;
}
.box-red {
    background-color: red;
    position: absolute;

    right: 0;
    bottom: 0;
}
.box-green {
    background-color: green;
    position: absolute;
    top: 0;
}
.box-yellow {
    background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
}
.box-blue {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-gray {
    background-color: gray;
    position: absolute;
    bottom: 0;
}
