@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.header {
    padding: 30px 0;
}

.container {
    display: flex;
    align-items: center;
    gap: 38px;
    max-width: 1136px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 34px;
}
.main {
    padding: 50px 0;
    background-color: #3bb96d;
    background-image: linear-gradient(to bottom, #3bb96d, #279a59);
}
.main-container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1136px;
    margin: 0 auto;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 504px;
    height: 384px;
}
.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content h1 {
    font-size: 60px;
    line-height: 110%;
    font-style: Bold;
    font-weight: 700;
    color: #fff;
}
.main-content p {
    font-size: 16px;
    line-height: 140%;
    font-style: Regular;
    font-weight: 400;
    color: #fff;
}
.main-content button {
    background-color: #fff;
    color: #3bb96d;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 220px;
    height: 48px;
    top: 336px;
}
.main-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-nav {
    padding: 50px 0;
    width: 1140px;
    height: 406px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1136px;
    margin: 0 auto;

    border: 1px solid #000;
}
.content-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 504px;
    height: 384px;
}
.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
